<!DOCTYPE html>
<html class="ie"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>常用电话</title>
    <meta name="viewport" content="width=320.1,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

    <link href = "http://cdn.bootcss.com/weui/1.1.2/style/weui.css" rel = "stylesheet">
    <link rel="stylesheet" href="http://gxgk-wechat.b0.upaiyun.com/styles/weui.min.css" />
    <link rel="stylesheet" href="http://gxgk-wechat.b0.upaiyun.com/styles/score.min.css" />

  </head>

  <body onselectstart="return false">
    <div class= "container js_contarner">
      <div class="hd">
        <h2 class= "page_title">常用电话</h2>
        <p class="page_desc">点击可拨打</p>
      </div>

        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">花江保卫处</div>
          <a href="tel://0773-2290112">0773-2290112</a>
        </div>
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">花江保卫处2</div>
          <a href="tel://0773-2290112">0773-2290112</a>
        </div>

      </div>
    </div>

  </body>

</html>
