<!DOCTYPE html>
<html class="ie"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>常用电话</title>
    <meta name="viewport" content="width=320.1,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

    <link href = "http://cdn.bootcss.com/weui/1.1.2/style/weui.css" rel = "stylesheet">
    <link rel="stylesheet" href="http://gxgk-wechat.b0.upaiyun.com/styles/weui.min.css" />
    <link rel="stylesheet" href="http://gxgk-wechat.b0.upaiyun.com/styles/score.min.css" />

  </head>

  <body onselectstart="return false">
    <div class= "container js_contarner">
      <div class="hd">
        <h2 class= "page_title">常用电话</h2>
        <p class="page_desc">点击可拨打</p>
      </div>

        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">学校教务科</div>
          <a href="tel://0773-2290112">0773-2291379</a>
        </div>

        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">学工处心理健康教育中心</div>
          <a href="tel://0773-2290112">0773-2291764</a>
        </div>

        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">一卡通服务中心</div>
          <a href="tel://0773-2290112">0773-2290672</a>
        </div>

        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">招生就业处</div>
          <a href="tel://0773-2290112">0773-2290010</a>
        </div>

        <hr />

        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">花江保卫处</div>
          <a href="tel://0773-2290112">0773-2290112</a>
        </div>
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">花江水电保修</div>
          <a href="tel://0773-2290112">0773-2290855</a>
        </div>
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">花江校区邮局</div>
          <a href="tel://0773-2290112">0773-3698510</a>
        </div>

        <hr />

        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">金鸡岭保卫处</div>
          <a href="tel://0773-2290112">0773-2291490</a>
        </div>
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">金鸡岭水电报修</div>
          <a href="tel://0773-2290112">0773-2292129</a>
        </div>

        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">金鸡岭校区邮局</div>
          <a href="tel://0773-2290112">0773-5601094</a>
        </div>
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">金鸡岭保卫处</div>
          <a href="tel://0773-2290112">0773-2291490</a>
        </div>

      </div>
    </div>

  </body>

</html>
