{% extends "base.html" %}

{% block page_content %}
<div class="container" >
  {% for message in get_flashed_messages() %}
  <div class="alert-info">{{ message }}</div>
  {% endfor %}
</div>

<div class="container" style = "padding:10px">
  <div class="row">
    <div class="col-md-12">
      <div class="share mrl the-font">
        <div style="padding:0px;"> <!-- <div style="padding:10px;"> -->
            <div style="border-bottom:0px solid #DAD4D4;padding:10px 10px;background-color:#FFF;box-shadow:5px 5px 20px #CCC;">

              <div class="row">
                <div class="col-md-12">
                  <div class="share mrl the-font">
                    <!-- 这里放微信的链接 -->
                    <h3 style="float:left"><a href="{{ url }}">{{pushednews.title}}</a> (点击标题查看图文)</h3>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="profile-thumbnail">
                  <div class = "post-author">
                    <small><span class="glyphicon glyphicon-user" aria-hedden="true"></span>
                      <a href="{{url_for('.user', name=pushednews.author.name) }}"> {{ pushednews.author.name }}</a>
                    </small>
                    &nbsp &nbsp

                    <small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                      {{ moment(pushednews.create_time).format('YYYY.M.D-HH:mm:ss') }}
                    </small>
                  </div>
                </div>
              </div>

              <hr/>

              <div>
                <table class="table table-hover" id="cusTable"
                  data-pagination="true"
                  data-show-refresh="true"
                  data-show-toggle="true"
                  data-showColumns="true">
                  <thead>
                    <tr>
                      <th  data-field="sellRecordId" data-sortable="true">
                        id
                      </th>
                      <th data-field="srNumber" >
                        作者
                      </th>
                      <th data-field="srNumber" >
                        标题
                      </th>
                      <th data-field="srNumber" >
                        创建时间
                      </th>
                      <th data-field="srNumber" >
                        所发给分组
                      </th>
                      <th data-field="srNumber" >
                        未确认收到的用户
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td> {{pushednews.id}} </td>
                      <td>{{pushednews.author.name}}</td>
                      <td>{{pushednews.title}}</td>
                      <td>{{pushednews.create_time}}</td>
                      <td>
                        <a href="{{ url_for('wechat.group', name = pushednews.to_group.name) }}">
                          <span style:"float:right" class="label label-primary text-left"> <span class="glyphicon glyphicon-tag" aria-hidden="true">
                        </span> {{pushednews.to_group.name}}</span></a>
                      </td>
                      <td>{{unconfirmed_name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>


        {% endblock	%}

        {% block scripts %}
        {{ super() }}
        <!-- 预览markdown -->
        {{ pagedown.include_pagedown() }}
        {% endblock %}
